# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Data
data/raw/*.csv
data/processed/*.csv
data/logs/*.log
data/dimensions/*.csv
data/facts/*.csv

# IDE
.vscode/
.idea/
.claude/
